* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: black;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

h4 {
    padding-top: 10px;
}

.container {
    width: 1190px;
    margin: 0 auto;
}

/* header */
.top-line {
    height: 10px;
    width: 100%;
    background-color: #2B3F8D;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 0px 17px;
}

.header-meta {
    display: flex;
    width: 25%;
    text-align: right;
    padding: 10px;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
}

.register {
    display: flex;
}

button {
    background-color: #BAE1F0;
    border: none;
}

/* end of header */

/* navbar */

.nav a {
    text-decoration: none;
    color: #fff;
}

.nav li {
    list-style-type: none;
    padding: 10px;
}

.nav {
    display: flex;
    position: relative;
    background-color: #000099;
}

.nav li {
    border-left: 1px solid #465584;
    border-right: 1px solid #465584;
}

.nav>li {
    position: relative;
}

.sub-nav {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
}

.nav li:hover {
    background-color: #50BBFF;
}

.nav li:hover .sub-nav {
    display: block;
}

.nav li:hover .sub-nav li {
    background-color: #50BBFF;
    border-left: 1px solid #50BBFF;
    border-right: 1px solid #50BBFF;
}

/* end of navbar */

/* main content */
.main-content {
    display: flex;
    justify-content: space-around;
}

.nav-slide {
    height: 427px;
    background-image: url(/KtraGK/img/bgr-slider.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-content img {
    width: 25px;
    height: 25px;
}

a {
    text-decoration: none;
    color: black;
}

span {
    display: block;
    padding: 10px;
}

.item a {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.item {
    padding: 10px;
}

.section-posts-container,
.recruitment,
.section-train-container,
.section-foreign-container,
.section-student-container {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.section-posts-picture img {
    height: 332px;
    width: 498px;
}

.section-posts-picture {
    width: 45%;
}

.section-posts-lists {
    width: 25%;
}

.section-posts-lists nav {
    display: flex;
    flex-direction: column;
}

.section-posts-lists nav li {
    margin-bottom: 10px;
    font-size: 15px;
    border-bottom: 2px solid #eee;
    margin: 15px;
    padding-bottom: 3px;
}

.section-posts-lists>nav>ul>li>a {
    color: black;
}

.section-posts-lists-seeall {
    text-align: right;
}

.section-posts-lists-seeall>a {
    color: black;
    font-size: 15px;
    flex: 10px;
}

.section-faculties {
    width: 25%;
}

.section-faculties h3 {
    text-align: center;
    background-color: #eee;
    font-size: 30;
    padding: 6px 10px;
    color: #000463;
    font-weight: normal;
    margin-bottom: 5px;
}

.section-faculties>nav {
    border: 1px solid black;
}

.section-faculties>nav>li {
    font-size: 15px;
    border-bottom: 2px solid #eee;
    margin: 9px;
    list-style: none;
}

.section-faculties>nav>li>a {
    color: #000463;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
}

.recruitment {
    padding-top: 10px;
    justify-content: space-between;
    align-items: center;
}

.recruitment img {
    height: 170px;
    width: 350px;
}

.recruitment-sec,
.foreign-sec,
.student-sec {
    background-color: #EFEFEF;
    height: 220px;
}

.section-train-container img {
    height: 150px;
    width: 280px;
}

.section-train-post-1,
.section-train-post-2,
.section-train-post-3,
.section-train-post-4 {
    width: 25%;
}

.section-foreign-container img {
    height: 150px;
    width: 280px;
}

.section-foreign-post-1,
.section-foreign-post-2,
.section-foreign-post-3,
.section-foreign-post-4 {
    width: 25%;
}

.section-reseach-container {
    display: flex;
}

.nghien-cuu-sector,
.su-kien-sector {
    display: flex;
}

.nghien-cuu {
    width: 75%;
}

.su-kien {
    width: 25%;
}

.su-kien img {
    height: 60px;
    width: 200px;
}

.nghien-cuu img {
    height: 150px;
    width: 280px;
}

.section-reseach-post-1,
.section-reseach-post-2,
.section-reseach-post-3 {
    width: 30%;
}

.nghien-cuu-sector {
    gap: 20px;
}

.section-student-post-1,
.section-student-post-2,
.section-student-post-3 {
    width: 25%;
}

.section-student-container img {
    height: 150px;
    width: 320px;
}

.section-student-container {
    justify-content: space-around;
}

/* end of main content */